<ul>
  <% @projects.each do |project| %>
    <li>
      Title: <%= project.title %>
      Our id: <%= project.id %>
      Linked id: <%= project.project_mapping.linked_id %>
    </li>
  <% end %>
</ul> 